POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=productiq_db
POSTGRES_PORT=5433
BACKEND_PORT=5003
FRONTEND_PORT=3000
JWT_ISSUER=ProductIQ.API
JWT_AUDIENCE=ProductIQ.Client
JWT_KEY=ProductIQ_SuperSecret_Jwt_SigningKey_2026_Development_Min32Chars!
OPENAI_API_KEY=
